<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>27</string>
					<key>EndingLineNumber</key>
					<string>1489</string>
					<key>StartingColumnNumber</key>
					<string>9</string>
					<key>StartingLineNumber</key>
					<string>1489</string>
					<key>Timestamp</key>
					<string>755780775.380103</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Eppo/Manager/APIManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>confirmDeliverited</string>
				<key>leading</key>
				<string>    }
    
    func </string>
				<key>trailing</key>
				<string>(orderId: Int, images: [UIImage]) -&gt; AnyPublisher&lt;ApiResponse&lt;String&gt;, Error&gt; {
        let url = APIConstants.Order.confirmDeliverite + String(describing: orderId)
        
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>8</string>
					<key>EndingLineNumber</key>
					<string>90</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>90</string>
					<key>Timestamp</key>
					<string>755780784.863917</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Eppo/Manager/APIManager.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>        </string>
				<key>leading</key>
				<string>        static let ownerOrders = baseURL + "api/v1/Order/GetOrdersByOwner"
        static let updateStatus = baseURL + "api/v1/Order/UpdateOrderStatus"
</string>
				<key>trailing</key>
				<string>static let confirmDeliverite = baseURL + "api/v1/Order/UpdateDeliverOrderSuccess/"
        static let failDeliverite = baseURL + "api/v1/Order/UpdateDeliverOrderFail/"
        static let preparedOrder = baseURL + "api/v1/Order/UpdatePreparedOrderSuccess/"
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
